/* docs/.vitepress/theme/style.css */
@import 'leaflet/dist/leaflet.css';

.miracle-map-container {
  height: 400px;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  z-index: 1; /* Ensure map doesn't cover navbar if issue arises */
}
